#welcome-head {
    margin-bottom: 70px;
}

.add-reserve-btn {
    background-color: rgb(153, 51, 153);
    display: inline-block; /* Damit die Breite und Höhe funktioniert */
    width: 175px; /* Ihre gewünschte Breite */
    height: 40px; /* Ihre gewünschte Höhe */
    border-style: none;
    border-radius: 10px;
    text-align: center; /* Zentrieren des Texts innerhalb des Links */
    line-height: 40px; /* Zentrieren des Texts vertikal */
    text-decoration: none; /* Entfernen der Standard-Unterstreichung für Links */
    color: white; /* Farbe des Texts im Link */
}

.add-reserve-btn:hover {
    background-color: rgb(102, 0, 102); /* Ändern Sie die Hintergrundfarbe beim Hover */
    color: white;
}