<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: head"></head>
<body>

<header th:replace="fragments :: header"></header>

<div>
  <p>
    RoomMate ist eine Webanwendung, in der Benutzer eine Reservierung für Universitäts-Räume tätigen können um einen Sitzplatz
    mit beliebigem Equipment zu reservieren. Administratoren haben Zugriff auf alle Reservierungen und können diese nach
    belieben löschen. Das Projekt war Teil des Programmierpraktikum 2 der Heinrich Heine Universität.
  </p>
</div>




<footer th:replace="fragments :: footer"></footer>
</body>
</html>