<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: head"></head>
<body>
  <header th:replace="fragments :: header"></header>

  <div th:object="${addEquipmentForm}">
    <h2>Neues Equipment hinzufügen</h2>
    <form method="post" th:action="@{'/admin/add_equipment'}" >
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1" for="equipment_name">Equipment-Name:</span>
        <input type="text" class="form-control" aria-describedby="basic-addon1" id="equipment_name" th:field="*{equipment_name}">
        <button type="submit" class="btn btn-primary">hinzufügen</button>

      </div>
    </form>
    <small th:if="${#fields.hasErrors('equipment_name')}" th:errors="*{equipment_name}"></small>
  </div>

  <footer th:replace="fragments :: footer"></footer>
</body>
</html>